{% extends "layout.html" %}
{% block sub_content %}

<div class="w3-container"> 
  <a href="/robotic_arm"><h2>Robotic Arm</h2></a>
  <p>In this project robotic-arm has been assembled with various part to create <br/>
  a replica of human-arm. There are five servo motors attached to the joints of <br/>
  robotic-arm, which are controlled by servo controller.</p>
  <hr>
</div>
 <br>
 <br>
<article class="w3-container"> 
  <a href="/bci"><h2>BCI</h2></a>
  <p>BCI-Brain Computer Interface, this part of project involves connection of <br/>
   brain sensor with bluettoth module HC-05, which is further attched to servo <br/>
   controler.</p>
  <hr>
</article>
  <br>
  <br>
<section class="w3-container"> 
  <a href="/neural_network"><h2>Neural Network</h2></a>
  <p>A deep learning model has been created for the project with the help of keras <br/>
  and tensorflow. The model includes three inputs and 5 outputs. </p>
  <hr>
</section>

{% endblock %}    
