{%extends "layout.html" %}
{% block sub_content %}

<img src="{{url_for('static', filename='2.jpg')}}" align="left" />
<img src="{{url_for('static', filename='6.jpg')}}" align="right" />

<div class="w3-container"> 
          <strong><h3>Brain Sense</h3></strong>
          <p>B: Bluetooth chip, use to connect it with other external hardware</br>
                E1: Electrode placed on the fore head</br> 
                E2: Electrode places on the ear lobe</br>
                P: 9v battery required to turn on the brainwave sensor device</br>
          </p>
</div>
{% endblock %}   